.message-to-user {
	font-family: Barlow;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 1em;
	font-size: 14px;
	line-height: 17px;
}

.error-message {
	color: #ea4335;
}

.success-message {
	color: #34a853;
}
