.forgot-your-password {
	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
}

.forgot-pw-text {
	font-family: Barlow;
	font-size: 18px;
	line-height: 22px;
	padding-top: 1em;
	margin-bottom: 1.5em;
}
