@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
#leaderboard {
	display: flex;
	flex-direction: column;
	/* min-height: 200px; */
}
table {
	margin: 50px 0;
	align-self: center;
	font-family: Nunito;
	width: 40%;
	border-collapse: collapse;
	text-align: center;
	overflow: hidden;
	min-height: 200px;
}
table .titleHeader {
	color: white;
}
table td,
table th {
	border-top: 3px solid #e6e7e9;
	padding: 10px;
}
table th {
	background-color: black;
}
table tr:nth-of-type(even) td {
	background-color: #f9fafc;
}
.mobile-header {
	display: none;
}

@media only screen and (max-width: 800px) {
	table {
		width: 70%;
	}
}

.leaderboardContainer {
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
}

.week-row {
	background-color: rgb(108, 189, 171);
}
