@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

// * {
//   box-sizing: border-box;
// }

// body {
//   font-family: "Lato", sans-serif;
//   color: #202020;
// }

// p {
// display: none;
// }

#leaderboard {
  display: flex;
  flex-direction: column;
}

table {
  // display: flex;
  // align-items: center;
  margin: 50px 0;
  align-self: center;
  font-family: Nunito;
  width: 40%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
  .titleHeader {
    color: white;
  }
  td,
  th {
    border-top: 3px solid #e6e7e9;
    padding: 10px;
  }

  th {
    background-color: black;
  }

  tr:nth-of-type(even) td {
    background-color: #f9fafc;
  }
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 760px) {
  p {
    display: block;
    font-weight: bold;
  }

  table {
    tr {
      td:not(:first-child),
      th:not(:first-child),
      td:not(.total-val) {
        display: none;
      }

      &:nth-of-type(even) td:first-child {
        background-color: lighten(#4ecdc4, 90%);
      }
      &:nth-of-type(odd) td:first-child {
        background-color: white;
      }

      &:nth-of-type(even) td:not(:first-child) {
        background-color: white;
      }

      th:first-child {
        width: 100%;
        display: block;
      }

      th:not(:first-child) {
        width: 40%;
        transition: transform 0.4s ease-out;
        transform: translateY(-9999px);
        position: relative;
        z-index: -1;
      }

      td:not(:first-child) {
        transition: transform 0.4s ease-out;
        transform: translateY(-9999px);
        width: 60%;
        position: relative;
        z-index: -1;
      }

      td:first-child {
        display: block;
        cursor: pointer;
      }

      &.total th {
        width: 25%;
        display: inline-block;
      }

      td.total-val {
        display: inline-block;
        transform: translateY(0);
        width: 75%;
      }
    }
  }
}
