@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap");

.login-component {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 100%;
	height: 70%;
	margin-top: 2.5em;
}

.ptc-logo {
	width: 134px;
	align-self: center;
}

.login-text {
	font-family: Barlow;
	font-weight: 400;
	font-size: 18px;
}

.login-text-instructions {
	margin-bottom: 20px;
}

.login-form {
	display: flex;
	flex-direction: column;
	/* gap: 8%; */
}

input {
	font-family: barlow;
	font-size: 25px;
	border-radius: 1.2em;
	border: 1px solid #d5d5d5;
	height: 4em;
}

.input-text {
	width: 90%;
	/* height: 4em; */
	font-size: 1em;
	margin-bottom: 1em;
	color: #535353;
	padding-left: 20px;
	align-self: center;
	justify-self: center;
}

.input-text::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #6d6a6a;
	opacity: 1; /* Firefox */
}

.input-submit {
	width: 100%;
	height: 3em;
	background: #1b9cf7;
	color: white;
	font-weight: 700;
}

.link-text {
	color: #1b9cf7;
	letter-spacing: -0.25px;
}

.inline-child > * {
	display: inline-block;
}

.login-reset-sign-up {
	margin-top: 3em;
	display: flex;
	flex-direction: column;
	width: 90%;
	align-self: center;
}

.line {
	background-color: #555555;
	margin: 15px 0px;
	height: 1.5px;
}

.sign-up-login-text {
	margin: 0 5px;
}
